@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author:  Jack Cacela 
   Date:   1/7/2024  
   
   Filename: tf_navicon.css
   
   This file contains styles used to control 
   a navicon menu.

*/


/* ===========
   Base Styles
   ===========
*/

a#navicon { /* make the navicon hidden from most devices for the user */
    display: none;
}




/* ===============================
   Mobile Devices: 0 to 480px 
   ===============================
*/

@media only screen and (max-width: 480px) {
    a#navicon {
        display: block; /* make sure the navicon will only be displayed 
        for mobile devices */
    }

    nav.horizontal ul {
        display: none; /* make sure the contents of the nav list are hidden */
   }

   a#navicon:hover+ul, nav.horizontal ul:hover {
        display: block; /* add the contents of the nav list when the user hovers over 
        the navicon or the contents of the nav list */
   }
}
